[submodule "src/layout_demo/static/libs/uxf"]
	path = src/layout_demo/static/libs/uxf
	url = https://github.com/hivesolutions/uxf-bin.git
[submodule "src/layout_demo/static/libs/layout"]
	path = src/layout_demo/static/libs/layout
	url = https://github.com/hivesolutions/layout.git
